In [4]:
import pandas as pd

In [48]:
#Membaca data dengan memasukkan ke variabel
pizza_sales = pd.read_csv("pizza_sales.csv",header=1)

In [36]:
# Melihat keseluruah isi data dengan kolom nya
pizza_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_name_id      48620 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  object
 7   total_price        48620 non-null  object
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
 12  order_date_2       48620 non-null  object
dtypes: int64(3), object(10)
memory usage: 4.8+ MB

In [49]:
# melakukan pembersihan dengan menghapus tanda '$' dan ',' pada kolom price
pizza_sales['unit_price'] = pizza_sales['unit_price'].str.replace('$','',regex=False).str.replace(',','.',regex=False)
pizza_sales['total_price'] = pizza_sales['total_price'].str.replace('$','',regex=False).str.replace(',','.',regex=False)

In [50]:
# mengubah tipe datanya jadi number float
pizza_sales['unit_price'] = pizza_sales['unit_price'].astype(float)
pizza_sales['total_price'] = pizza_sales['total_price'].astype(float)

In [64]:
# mengubah tipe date dari kolom order date
pizza_sales['order_date'] = pd.to_datetime(pizza_sales['order_date'])

In [70]:
pizza_sales['order_time'] = pd.to_datetime(pizza_sales['order_time']).dt.time

In [75]:
# hapus kolom order_date_2
pizza_sales = pizza_sales.drop(columns='order_date_2')

In [76]:
pizza_sales.head(1)

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza

In [79]:
# jumlah data yang duplikat
dpl1 = pizza_sales.duplicated().sum()
print(f'Jumlah data duplikat = {dpl1}')

Jumlah data duplikat = 0

In [81]:
# jumlah missing value
pizza_sales.isnull().sum()

pizza_id             0
order_id             0
pizza_name_id        0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [84]:
# mendownload data pizza sales
pizza_sales.to_csv('pizza_sales_cln.csv',index=0)